@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signedInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/css/grid.css">
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
   
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">
    <title>MusicWorld</title>

</head>
<body>
    <header >
        <nav >
            <div class="row">
                <a class="logo" href="@Url.Action("Index","Home")">
                    <img src="~/img/logo.png" alt="Music logo" class="logo">      
                </a>
                <ul class="main-nav">


                    @if (User.Identity.IsAuthenticated)
                    {
                        <li> <a href=" ">Welcome: @User.Identity.Name </a></li> @*TO DO ONclick go to personal profile*@
                        <li> <a href=" ">Artists</a></li>
                        <li> <a href=" ">Shop</a></li>
                        <li> <a href=" ">PlayLlist</a></li>
                        <li><a href="@Url.Action("Index","Blog")" title="Read our Blog">Blog</a></li>
                        <li>
                            <a href="@Url.Action("Logout","Account")" title="LogOut">Logout </a>
                        </li>

                    }
                    else
                    {
                        <li> <a href=" ">Artists</a></li>
                        <li> <a href=" ">Shop</a></li>
                        <li><a href="@Url.Action("Index","Blog")" title="Read our Blog">Blog</a></li>
                        <li><a href="@Url.Action("Register","Account")" title="Sign Up">Register</a></li>
                        <li><a href="@Url.Action("Login","Account")" title="Login">Login</a></li>
                    }

                </ul>
            </div>
            
        </nav>
        @RenderBody()
    </header>

    

    <footer >
        <div class="row">
            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="@Url.Action("Index","Blog")">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">iOS App</a></li>
                </ul>
            </div>
            <div class="col span-1-of-2">
                <ul class="social-icons">
                    <li><a href=""><ion-icon class="logo-facebook" name="logo-facebook"></ion-icon></a></li>
                    <li><a href="#"><ion-icon class="logo-instagram" name="logo-instagram"></ion-icon></a></li>
                    <li><a href="#"><ion-icon class="logo-youtube" name="logo-youtube"></ion-icon></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <p class="ftr" >
                Copyright &copy; @DateTime.Now.Year by Alex . All rights reserved.
            </p>
        </div>

    </footer>


    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</body>

</html>