@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@model MusicWorld.Models.ProductViewModel


@{
    Layout = "_AdminLayout";
}

<div>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <p>@Model.Value</p>
    <div>
        <form method="post">

            <label>Stock</label>
            <select asp-for="CartViewModel.StockId">
                @foreach (var s in Model.Stock)
                {
                    <option value="@s.Id"> @s.Description </option>
                }
            </select>
            <label>Qty</label>
            <input asp-for="CartViewModel.Qty" />
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
@await Component.InvokeAsync("Cart") 